@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body {
  font-family: 'Montserrat', sans-serif;
  background: url('/images/movie.jpg');
}

/*****************************HEADER STYLES*****************************/
#history,
#future,
header {
  text-align: center;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  margin: 80px 0 25px;
  color: #2c3e50;
}

h1 span {
  font-weight: 700;
}

h2 {
  color: #bdc3c7;
  font-weight: 300;
}


